/* ----- HEADER----- */
.promo {
	background: url(../img/header-bg.jpg) 52% no-repeat;
	background-size: cover;
	font-family: $textHeaders; 
	text-align: center;
	box-shadow: 0 0 0 270px rgba(26, 25, 21, 0.2) inset;
	filter: contrast(120%);
	@include respond-to(tablet) {
		box-shadow: 0 0 0 350px rgba(26, 25, 21, 0.2) inset;
		background: url(../img/header-bg.jpg) 50% no-repeat;
		background-size: cover;

	};
	/* @include respond-to(desktop) {
		box-shadow: 0 0 0 350px rgba(26, 25, 21, 0.2) inset;
	} */
}

.promo__sign {
	@include buttonText;
	color: #fff;
	padding: 32px 73px;
	@include respond-to(tablet) {
		padding: 0;
	    margin-top: 49px;
	    margin-right: 39px;
	    float: right;
	};
	p {
		float: left;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	p:nth-child(2) {
		margin-left: 20px;
	    margin-top: -11px;
	    padding: 9px 16px;
	    border-radius: 20px;
		border: 2px solid #fff;
	}
}

.promo__logo {
	font-family: $textHeaders;
	font-size: 20px;
	color: #fff;
	margin-top: 84px;
	letter-spacing: 1px;
	@include respond-to(tablet) {
		margin: 48px 0 0 37px;
		float: left;
	};
}

.promo__tagline {
	color: #fff;
	h2 {
		text-transform: uppercase;
		font-size: 30px;
		margin-top: 30px;
		line-height: 36px;
		color: #fff;
		@include respond-to(tablet) {
			font-size: 50px;
		    margin: 141px 86px 0 86px;
		    line-height: 63px;
		    letter-spacing: 1.4px;
		};
	}
	p {
		font: {
			family: $text;
			size: 18px;
		}
		margin-top: 9px;
    	padding: 0 34px;
    	line-height: 21px;
    	@include respond-to(tablet) {
			font-size: 24px;
		    margin-top: 27px;
		    padding: 0;
		};
	}
}

.promo__button {
	margin: 16px 10px;
	padding-bottom: 138px;
	@include respond-to(tablet) {
		padding-bottom: 233px;
   		margin: 38px auto;
		};
	a {
		color: #fff;
		background-color: $bgColor;
		padding: 13px;

	}
}

