.how-works {
	margin-top: 31px;
}

.how-works__step {
	text-align: left;
	padding-left: 19px;
	border-radius: 4px;
	h3 {
		font-family: 'Montserrat Regular';
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		background-color: $bgColor;
		padding: 5px 11px 5px 15px;
		display: inline-block;
    	border-radius: 20px;
    	letter-spacing: 2px;
	}
	h4 {
		font-family: $textHeaders;
		font-size: 24px;
		color: #fff;
		margin: 15px 0 12px 0;
		line-height: 29px;
	}
	p {
		@include paragraph;
		color: #ccc;
		margin-bottom: 20px;
		margin-right: 10px;
    	line-height: 16px;
    	padding-bottom: 18px;
	}
}

.how-works__step--step1 {
	background:url(../img/how-works-step1-bg.jpg) no-repeat;
	margin-top: 16px;
	padding-top: 70px;

}

.how-works__step--step2 {
	background:url(../img/how-works-step2-bg.jpg) no-repeat;
	margin-top: -11px;
    padding-top: 100px;
}

.how-works__step--step3 {
	background:url(../img/how-works-step3-bg.jpg) no-repeat;
	margin-top: -12px;
    padding-top: 70px;
}