/* ----- HOW WORKS----- */
.how-works {
	margin-top: 31px;
	@include respond-to(tablet) {
		margin-top: 97px;
	};
	@include respond-to(desktop) {
		margin-top: 97px;
	};
}


.how-works__step {
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	margin-top: 16px;
	@include respond-to(tablet) {
		float: left;
    	width: 31.5%;
    	height: 400px;
    	margin-right: 2.75%;
    	margin-top: 36px;
    	position: relative;
	};
	@include respond-to(desktop) {
		float: left;
    	width: 32%;
    	height: 400px;
    	margin-right: 2%;
    	margin-top: 36px;
    	position: relative;
	};
}

.how-works__step--step2 {
	margin-top: 10px;
	@include respond-to(tablet) {
		margin-top: 36px;
	}
	@include respond-to(desktop) {
		margin-top: 36px;
	}
	/* .how-works__text-block {
		top: 99px;
		@include respond-to(tablet) {
			top: 259px;
		}
		@include respond-to(desktop) {
			top: 259px;
		}
	} */
}

.how-works__step--step3 {
	margin-top: 10px;
	@include respond-to(tablet) {
		margin-right: 0;
		margin-top: 36px;
	}
	@include respond-to(desktop) {
		margin-right: 0;
		margin-top: 36px;
	}
}

.jcarousel {
	position: relative;
    overflow: hidden;
    width: 100%;
    ul {
	    width: 20000em;
	    position: relative;
	    list-style: none;
	    margin: auto;
	    padding: 0;
	}
	li {
		float: left;
    	height: 240px;
		border-radius: 4px;
    	@include respond-to(tablet) {
			height: 400px;
		}
		@include respond-to(desktop) {
			height: 400px;
		}
	}
}

.jcarousel__item--step1 {
	background:url(../img/how-works-step1-bg-mobile.jpg) no-repeat;
	@include respond-to(tablet) {
		background:url(../img/how-works-step1-bg.jpg) 50% no-repeat;
	};
	@include respond-to(desktop) {
		background:url(../img/how-works-step1-bg.jpg) 50% no-repeat;
	};

}

.jcarousel__item--step2 {
	background:url(../img/how-works-step2-bg-mobile.jpg) no-repeat;
    @include respond-to(tablet) {
		background:url(../img/how-works-step2-bg.jpg) 50% no-repeat;
	};
	@include respond-to(desktop) {
		background:url(../img/how-works-step2-bg.jpg) 50% no-repeat;
	};
}

.jcarousel__item--step3 {
	background:url(../img/how-works-step3-bg-mobile.jpg) no-repeat;
    @include respond-to(tablet) {
		background:url(../img/how-works-step3-bg.jpg) 50% no-repeat;
	};
	 @include respond-to(desktop) {
		background:url(../img/how-works-step3-bg.jpg) 50% no-repeat;
	};
}

.how-works__text-block {
	position: absolute;
	bottom: -21px;
	left: 7%;
	@include respond-to(tablet) {
		bottom: -3px;
		width: 95%;
	}
	@include respond-to(desktop) {
		bottom: -3px;
		width: 96%;
	}	
	h3 {
		font-family: 'Montserrat Regular';
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		background-color: $bgColor;
		padding: 5px 11px 5px 15px;
		display: inline-block;
    	border-radius: 20px;
    	letter-spacing: 2px;
	}
	h4 {
		font-family: $textHeaders;
		font-size: 24px;
		color: #fff;
		margin: 15px 0 12px 0;
		line-height: 29px;
	}
	p {
		@include paragraph;
		color: #ccc;
		margin-bottom: 20px;
		margin-right: 22px;
    	line-height: 16px;
    	padding-bottom: 18px;
    	@include respond-to(tablet) {
			padding-bottom: 0;
		};
		@include respond-to(desktop) {
			padding-bottom: 0;
		};
	}
}
