/* -----IDEAS----- */
.ideas {
	margin-top: 35px;
	h2 {
		line-height: 25px;
	}
	@include respond-to(tablet) {
		margin-top: 97px;
	}
}


.ideas__pictures {
	margin-top: 15px;
	@include respond-to(tablet) {
		margin-top: 34px;
	}
}


.grid-item {
	height: 120px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 0 150px rgba(26, 25, 21, 0.2) inset;
	filter: contrast(120%);
	display: table;
	padding: 0 10px;
	@include respond-to(tablet) {
		width: 31.5%;
		margin-bottom: 19px; 
		height: 311px;
	}
	a {
		@include headersText;
		text-decoration: none;
		display: inline-block;
		color: #fff;
		display: table-cell;
		vertical-align: middle;
		text-transform: capitalize;
		line-height: 26px;
	}
}

.grid-item--width2 {
	@include respond-to(tablet) {
		width: 65.6%;
	}	
}
