@mixin headersText {
	font: {
		family: $textHeaders;
		size: $rextSizeHeaders;
	};
	color: $colorHeaders;
}

@mixin buttonText {
	font: {
		family: $textHeaders;
		size: $textSize;
	};
};

@mixin paragraph {
	font: {
		family: $text;
		size: $textSize;
	};
} 

