@mixin headersText {
	font: {
		family: $textHeaders;
		size: $rextSizeHeaders;
	};
	color: $colorHeaders;
}

@mixin buttonText {
	font: {
		family: $textHeaders;
		size: $textSize;
	};
}

