/* -----PARTNERS----- */
.partners {
	margin-top: 40px;
	
	@include respond-to(tablet) {
		margin-top: 97px;
		.partners__wrapper {
			width: 66%;
			margin: 32px auto;
			margin-bottom: 0;
		}
		.partners__container {
			width: 48%;
			div:last-child {
				margin-top: 57px;
			}
		}
		.partners__container--left {
			float: left;
		}
		.partners__container--right {
			float: right;
		}
	};
	

		
	h2 {
		margin-left: -7px;
    	line-height: 26px;
    	margin-bottom: 15px;
	}
};

.partners__item {
	width: 100%;
	a {
		text-decoration: none;
		display: block;
	}
	h3 {
		@include subheaders;
		color: $colorHeaders;
		margin-top: 20px;
    	margin-left: -2px;
	}
	p {
		@include paragraph;
		color: #666;
		margin: 14px 44px 26px 36px;
    	line-height: 17px;
    	@include respond-to(tablet) {
			margin: 13px 2px;
		}
	}
}
.partners__img {
	background-size: cover;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
	div {
		height: 40px;
		width: 40px;
		border-radius: 100%;
		background-color: #fff;
    	position: absolute;
    	bottom: -5px;
    	right: -3px;
		.fa {
			height: 32px;
			width: 32px;
			box-sizing: border-box;
			color: #fff;
			border-radius: 100%;
		}
	}
}

.partners__img--img1 {
	background: url(../img/partners-1.jpg) 100% no-repeat;
	.fa {
		background-color: $bgColor;
		margin-top: 4px;
		padding-top: 8px;
		padding-left: 2px;
	}
}

.partners__img--img2 {
	background: url(../img/partners-2.jpg) 100% no-repeat;
	.fa {
		background-color: #ffa507;
		margin-top: 4px;
		padding-top: 8px;
		padding-left: 2px;
	}
}

.partners__img--img3 {
	background: url(../img/partners-3.jpg) 100% no-repeat;
	.fa {
		background-color: #1cd7ad;
		margin-top: 4px;
		padding-top: 8px;
		padding-left: 2px;
	}
}

.partners__img--img4 {
	background: url(../img/partners-4.jpg) 100% no-repeat;
	.fa {
		background-color: #4e73db;
		margin-top: 4px;
		padding-top: 8px;
		padding-left: 2px;
	}
}

.partners__button {
	margin: 28px 11px 28px 7px;
	@include respond-to(tablet) {
			width: 192px;
			margin: 24px auto;
		}
	a {
		color: $bgColor;
		border: 2px solid $bgColor;
		padding: 11px;
	}
}

