/* -----SEARCH----- */
.search {
	margin-top: 28px;
    line-height: 25px;
    @include respond-to(tablet) {
    	margin-top: 76px;
    }
     @include respond-to(desktop) {
    	margin-top: 76px;
    }
	p {
		font-family: $text;
		font-size: 18px;
		color: #333;
		margin-top: 10px;
		@include respond-to(tablet) {
    		margin-top: 30px;
    	}
    	@include respond-to(desktop) {
    		margin-top: 30px;
    	}
	}
	.container>div {
		@include respond-to(tablet) {
    		margin: 22px auto;
    		width: 415px;
    	}
    	@include respond-to(desktop) {
    		margin: 22px auto;
    		width: 415px;
    	}
		input {
			width: 280px;
		    padding: 10px 13px;
		    box-sizing: border-box;
		    margin-top: 14px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    @include paragraph;
		    color: #999;
		    &:focus {
		    	color: #333;
		    }
		    @include respond-to(tablet) {
	    		margin-left: 3px;
			    width: 240px;
			    float: left;
	    	}
	    	@include respond-to(desktop) {
	    		margin-left: 3px;
			    width: 240px;
			    float: left;
	    	}
		}
	} 
}

.search__button {
    margin: 9px auto;
    @include buttonText;
    color: #fff;
    background-color: $bgColor;
    padding: 7px 0;
    border-radius: 20px;
    cursor: pointer;
    @include respond-to(tablet) {
    	width: 160px;
	    float: left;
	    margin: 15px 0 0 7px;
    }
    @include respond-to(desktop) {
    	width: 160px;
	    float: left;
	    margin: 15px 0 0 7px;
    }
}
