body>* {
	width: 320px;
}

.container {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.clearfix {
	clear: both;
}

h2 {
	@include headersText;
}

.button {
	a {
		display: block;
		@include buttonText;
		text-decoration: none;
		padding: 11px;
		border-radius: 20px;
	}
}