$textHeaders: 				'Montserrat Bold';
$textSizeHeaders:			22px;
$colorHeaders:				#333;

$text: 						'Roboto Light';
$textSize:					14px;

$bgColor:					#ff4e50;

//for responsive markup
$small:						375px;
$large:						769px;



